# virtual environment
.venv

# DS Store
.DS_Store

# pycache .pyc
__pycache__

# scwhwab api tokens
tokens.json

# scratch files / temp trash 
temp/

# environment variabels
.env

# frequently updated files
active_positions.json
econ_cal_today.txt
events.json
latest_headlines.txt
position_headlines.txt

# test files
test.py

# discord log
discord.log